In [1]:
import kagglehub
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

# Download latest version
path = kagglehub.dataset_download("arashnic/book-recommendation-dataset")

print("Path to dataset files:", path)
csv_file=None

i=1
for file in os.listdir(path):
    if file.endswith(".csv"):
        csv_file = os.path.join(path, file)
        globals()[f"df{i}"] = pd.read_csv(csv_file)
        print(globals()[f"df{i}"].info())
        i+=1


if csv_file is None:
    print("No CSV file found in the downloaded dataset.")
else:
  print(f"Found CSV file: {csv_file}")


if csv_file is None:
    print("No CSV file found in the downloaded dataset.")
else:
  print(f"Found CSV file: {csv_file}")

Downloading from https://www.kaggle.com/api/v1/datasets/download/arashnic/book-recommendation-dataset?dataset_version_number=3...

100%|██████████| 24.3M/24.3M [00:00<00:00, 47.5MB/s]

Extracting files...

Path to dataset files: /root/.cache/kagglehub/datasets/arashnic/book-recommendation-dataset/versions/3
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB
None

<ipython-input-1-7e91395b79a9>:22: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  globals()[f"df{i}"] = pd.read_csv(csv_file)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB
None
Found CSV file: /root/.cache/kagglehub/datasets/arashnic/book-recommendation-dataset/versions/3/Books.csv
Found CSV file: /root/.cache/kagglehub/datasets/arashnic/book-recommendation-dataset/versions/3/Books.csv

In [2]:
    # Merge all DataFrames
merged_df = pd.merge(df1,df2,on='User-ID')

    # Display the first few rows of the merged DataFrame
merged_df.head()

   User-ID        ISBN  Book-Rating                       Location   Age
0   276725  034545104X            0              tyler, texas, usa   NaN
1   276726  0155061224            5       seattle, washington, usa   NaN
2   276727  0446520802            0  h, new south wales, australia  16.0
3   276729  052165615X            3           rijeka, n/a, croatia  16.0
4   276729  0521795028            6           rijeka, n/a, croatia  16.0

In [3]:
import pandas as pd
# Merge all DataFrames
merged_df1 = pd.merge(merged_df,df3,on='ISBN')

# Display the first few rows of the merged DataFrame
merged_df1.head()

,User-ID,ISBN,Book-Rating,Location,Age,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,"tyler, texas, usa",NaN,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,276726,0155061224,5,"seattle, washington, usa",NaN,Rites of Passage,Judith Rae,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...
2,276727,0446520802,0,"h, new south wales, australia",16.0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
3,276729,052165615X,3,"rijeka, n/a, croatia",16.0,Help!: Level 1,Philip Prowse,1999,Cambridge University Press,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...
4,276729,0521795028,6,"rijeka, n/a, croatia",16.0,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001,Cambridge University Press,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...

In [4]:
# Check for missing values
print("\nMissing values in each column:\n", merged_df1.isnull().sum())

Missing values in each column:
 User-ID                     0
ISBN                        0
Book-Rating                 0
Location                    0
Age                    277835
Book-Title                  0
Book-Author                 2
Year-Of-Publication         0
Publisher                   2
Image-URL-S                 0
Image-URL-M                 0
Image-URL-L                 4
dtype: int64

In [5]:
# Handle missing values in 'Age' column
median_value = merged_df1['Age'].median()
merged_df1['Age'] = merged_df1['Age'].fillna(median_value) # Changed this line
merged_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031136 entries, 0 to 1031135
Data columns (total 12 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   User-ID              1031136 non-null  int64
 1   ISBN                 1031136 non-null  object
 2   Book-Rating          1031136 non-null  int64
 3   Location             1031136 non-null  object
 4   Age                  1031136 non-null  float64
 5   Book-Title           1031136 non-null  object
 6   Book-Author          1031134 non-null  object
 7   Year-Of-Publication  1031136 non-null  object
 8   Publisher            1031134 non-null  object
 9   Image-URL-S          1031136 non-null  object
 10  Image-URL-M          1031136 non-null  object
 11  Image-URL-L          1031132 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 94.4+ MB

In [6]:
# Remove rows with null values in specific columns
merged_df1 = merged_df1.dropna(subset=['Book-Author', 'Publisher', 'Image-URL-L'])
merged_df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1031128 entries, 0 to 1031135
Data columns (total 12 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   User-ID              1031128 non-null  int64
 1   ISBN                 1031128 non-null  object
 2   Book-Rating          1031128 non-null  int64
 3   Location             1031128 non-null  object
 4   Age                  1031128 non-null  float64
 5   Book-Title           1031128 non-null  object
 6   Book-Author          1031128 non-null  object
 7   Year-Of-Publication  1031128 non-null  object
 8   Publisher            1031128 non-null  object
 9   Image-URL-S          1031128 non-null  object
 10  Image-URL-M          1031128 non-null  object
 11  Image-URL-L          1031128 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 102.3+ MB

In [7]:

# Assuming you have already selected the top 10,000 rows
filtered_df = merged_df1.head(50000)

# Get the most active users and popular books from the top rows
#top_users = top_rows_df['User-ID'].value_counts().nlargest(10000).index  # Adjust as needed
#top_books = top_rows_df['ISBN'].value_counts().nlargest(10000).index  # Adjust as needed

# Filter the DataFrame to include only these users and books
#filtered_df = top_rows_df[top_rows_df['User-ID'].isin(top_users) & top_rows_df['ISBN'].isin(top_books)]

In [8]:
# Create the pivot table (user-item matrix) with counts
user_item_matrix = filtered_df.pivot_table(index='User-ID', columns='ISBN', aggfunc='size', fill_value=0)

# Display the pivot matrix
print("User-Item Matrix with Counts:")
print(user_item_matrix)

User-Item Matrix with Counts:
ISBN     0001360469  0001374869  000160418X  0001714600  0001837397  \
User-ID
2                 0           0           0           0           0
8                 0           0           0           0           0
9                 0           0           0           0           0
10                0           0           0           0           0
12                0           0           0           0           0
...             ...         ...         ...         ...         ...
278846            0           0           0           0           0
278849            0           0           0           0           0
278851            0           0           0           0           0
278852            0           0           0           0           0
278854            0           0           0           0           0

ISBN     0001841572  0001848445  0001900277  0001941941  0001944711  ...  \
User-ID                                                              ...
2                 0           0           0           0           0  ...
8                 0           0           0           0           0  ...
9                 0           0           0           0           0  ...
10                0           0           0           0           0  ...
12                0           0           0           0           0  ...
...             ...         ...         ...         ...         ...  ...
278846            0           0           0           0           0  ...
278849            0           0           0           0           0  ...
278851            0           0           0           0           0  ...
278852            0           0           0           0           0  ...
278854            0           0           0           0           0  ...

ISBN     9972847012  9974560004  9995585227  9997522052  B00005BBW4  \
User-ID
2                 0           0           0           0           0
8                 0           0           0           0           0
9                 0           0           0           0           0
10                0           0           0           0           0
12                0           0           0           0           0
...             ...         ...         ...         ...         ...
278846            0           0           0           0           0
278849            0           0           0           0           0
278851            0           0           0           0           0
278852            0           0           0           0           0
278854            0           0           0           0           0

ISBN     B0000633PU  B00008NRHQ  B00009ANY9  B0000A2U93  B0000DAPP1
User-ID
2                 0           0           0           0           0
8                 0           0           0           0           0
9                 0           0           0           0           0
10                0           0           0           0           0
12                0           0           0           0           0
...             ...         ...         ...         ...         ...
278846            0           0           0           0           0
278849            0           0           0           0           0
278851            0           0           0           0           0
278852            0           0           0           0           0
278854            0           0           0           0           0

[4374 rows x 34564 columns]

In [9]:
# Create a user-item interaction matrix (counts)
user_item_matrix = filtered_df.pivot_table(index='User-ID', columns='ISBN', aggfunc='size', fill_value=0)

# Convert counts to binary (1 for interaction, 0 for no interaction)
# This conversion also handles the binary transformation
user_item_matrix = (user_item_matrix > 0).astype(int)

# Ensure that the matrix contains only boolean values (True/False)
# Convert to boolean type
user_item_matrix = user_item_matrix.astype(bool)

# Check the data types to confirm conversion
print("Data Types of User-Item Matrix:")
print(user_item_matrix.dtypes)

Data Types of User-Item Matrix:
ISBN
0001360469    bool
0001374869    bool
000160418X    bool
0001714600    bool
0001837397    bool
              ...
B0000633PU    bool
B00008NRHQ    bool
B00009ANY9    bool
B0000A2U93    bool
B0000DAPP1    bool
Length: 34564, dtype: object

In [13]:
print(merged_df1.info())

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

<class 'pandas.core.frame.DataFrame'>
Index: 1031128 entries, 0 to 1031135
Data columns (total 12 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   User-ID              1031128 non-null  int64
 1   ISBN                 1031128 non-null  object
 2   Book-Rating          1031128 non-null  int64
 3   Location             1031128 non-null  object
 4   Age                  1031128 non-null  float64
 5   Book-Title           1031128 non-null  object
 6   Book-Author          1031128 non-null  object
 7   Year-Of-Publication  1031128 non-null  object
 8   Publisher            1031128 non-null  object
 9   Image-URL-S          1031128 non-null  object
 10  Image-URL-M          1031128 non-null  object
 11  Image-URL-L          1031128 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 102.3+ MB
None

In [10]:
from mlxtend.frequent_patterns import apriori, association_rules

# Apply the Apriori algorithm with a lower min_support
frequent_itemsets = apriori(user_item_matrix, min_support=0.001, use_colnames=True)  # Changed min_support to 0.01
print(frequent_itemsets)
# Check if frequent_itemsets is empty before proceeding
if not frequent_itemsets.empty:
    # Generate the association rules only if frequent itemsets are found
    rules = association_rules(frequent_itemsets, metric="support", min_threshold=1)

    # Display the results
    print("Frequent Itemsets:")
    print(frequent_itemsets)
    print("\nAssociation Rules:")
    print(rules)
else:
    print("No frequent itemsets found with the given min_support.")

       support                                           itemsets
0     0.001143                                       (0020532105)
1     0.002058                                       (002542730X)
2     0.001143                                       (0028604199)
3     0.001600                                       (006000438X)
4     0.001143                                       (0060008776)
...        ...                                                ...
3409  0.001143  (0312971346, 0671001795, 0312966970, 006100905...
3410  0.001600  (0312966091, 0312971346, 0671001795, 031296697...
3411  0.001143  (0312966091, 0671001795, 0312966970, 031298386...
3412  0.001143  (0375705856, 0316666343, 0743418174, 044667221...
3413  0.001143  (0312966091, 0312971346, 0671001795, 031296697...

[3414 rows x 2 columns]
Frequent Itemsets:
       support                                           itemsets
0     0.001143                                       (0020532105)
1     0.002058                                       (002542730X)
2     0.001143                                       (0028604199)
3     0.001600                                       (006000438X)
4     0.001143                                       (0060008776)
...        ...                                                ...
3409  0.001143  (0312971346, 0671001795, 0312966970, 006100905...
3410  0.001600  (0312966091, 0312971346, 0671001795, 031296697...
3411  0.001143  (0312966091, 0671001795, 0312966970, 031298386...
3412  0.001143  (0375705856, 0316666343, 0743418174, 044667221...
3413  0.001143  (0312966091, 0312971346, 0671001795, 031296697...

[3414 rows x 2 columns]

Association Rules:
Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, zhangs_metric]
Index: []

In [14]:
# Example function to get recommendations based on association rules
def get_recommendations(isbn):
    # Check if the ISBN exists in the dataset
    if isbn in filtered_df['ISBN'].values:
        # Get the title of the requested ISBN
        book_title = filtered_df['Book-Title'].loc[filtered_df['ISBN'] == isbn].values[0]

        # Initialize a list for recommended books
        recommended_books = []

        # Iterate through the association rules to find consequents for the given ISBN
        for _, row in rules.iterrows():
            if filtered_df['ISBN'].iloc[idx] in row['antecedents']:
                recommended_books.extend(row['consequents'])

        # Remove duplicates and filter out any titles that are the same as the requested book
        combined_recommendations = list(set(recommended_books))
        combined_recommendations = [title for title in combined_recommendations if title != book_title]

        return combined_recommendations
    else:
        print(f"ISBN '{isbn}' not found in the dataset.")
        return []

# Example usage
recommended_books = get_recommendations('034545104X')
print("Recommended books for '034545104X':")
print(recommended_books)

Recommended books for '034545104X':
[]

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)